
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 50%;
            margin: 10px;
            text-align: center;
            
        }

        td,
        th {
            border: 1px solid;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child() {
            background-color:white;
        }

        div {
            text-align: left;
            width: 50%;
        }

        tr:hover{

            background-color: blue;
        }
    